#chatting-body {
  background-color: #abc1d1;
  height: 200vh;
}
.chatting-status-bar {
  background-color: #abc1d1;
  z-index: 1;
}
.setting-main {
  padding: 5px 17px;
}
.chatting-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  background-color: #abc1d1;
  z-index: 1;
}
.setting-header :first-child {
  margin-right: auto;
}
.setting-header :last-child {
  margin-left: auto;
}
.fa-angle-left {
  font-size: 23px;
}
.setting-header h1 {
  font-size: 21px;
  font-weight: 600;
}
.hamburger {
  width: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Content*/

.chat-time {
  display: flex;
  justify-content: center;
  width: 173px;
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.76);
  align-items: center;
  margin-bottom: 17px;
}
.chatting-main {
  margin-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: fadein 0.4s linear;
}
.chat-send img {
  width: 45px;
  height: 45px;
  border-radius: 40%;
  margin-right: 10px;
}
.chat-send {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 0;
  margin-bottom: 20px;
}
.chat-send-time {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.6);
}
.chat-send h4 {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 7px;
}
.send-bubble {
  background-color: white;
  border-radius: 0 7px 7px 7px;
  padding: 5px 7px;
  font-size: 15px;
  margin-right: 5px;
}
.chat-send-insidebox {
  display: flex;
  align-items: flex-end;
}

.chat-send-own {
  justify-content: flex-end;
}
.send-bubble-own {
  border-radius: 7px 0 7px 7px;
  background-color: var(--kakaoyellow);
  margin-left: 5px;
}
.chat-send-reverse {
  flex-direction: row-reverse;
}

/*reply */
.reply-container {
  display: flex;
  align-items: center;
  background-color: white;
  position: fixed;
  bottom: 5px;
  width: 100%;
}
.reply-container input {
  width: 100%;
  border-radius: 20px;
  border: none;
  padding: 8px;
  margin: 5px 0;
  background-color: rgba(128, 128, 128, 0.014);
  border: 1px solid rgba(128, 128, 128, 0.233);
}
.reply-container :first-child {
  font-size: 20px;
  opacity: 0.7;
  margin: 0 7px;
}
.reply-inside-box {
  display: flex;
  align-items: center;
  justify-items: center;
  position: absolute;
  right: 6px;
}
.arrowup {
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: var(--kakaoyellow);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
}
.uparrow {
  color: black;
  position: relative;
  right: 1.5px;
}
input::placeholder {
  opacity: 0.4;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.reply-container:focus-within .fa-plus-square {
  display: none;
}
