.entire-header {
  display: flex;
  justify-content: space-between;
  padding: 0 17px;
  margin: 10px 0;
  align-items: center;
}

.entire-header__title {
  font-size: 20px;
  font-weight: 600;
}

.entire-header__icon span {
  margin: 0 5px;
}
@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
a[href="setting.html"] :hover {
  animation: rotateCog 2s linear infinite;
}
